*{
    margin: 0;
    padding: 0;
}

.header-section{
    background-color:black;
    color:white ;
    display: flex;
    /* flex-direction:column ; */
    justify-content: space-around;
    
}

ul {
    display: flex;
    /* flex-direction:column ; */
   
}
